h1{
    font-size: 25px;
}
.containar{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 25%;
    margin: 10px, 0, 10px, 0;
}
.sidebar li{
    display: block;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
    background-color: #eeeeee;
    border-left: solid 3px #cccccc;
}
.content{
    width: 75%;
    margin: 10px, 0, 10px, 0;
}